.content-div {
  height: calc(100vh - 60px);
  width: 100%;
  background-image: linear-gradient(109.6deg,
      rgba(44, 83, 131, 1) 18.9%,
      rgba(95, 175, 201, 1) 91.1%);
}

.headings {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.heading_1{

  display: flex;
   align-items: center;
  justify-content:space-between;
}

.head {

  color: rgb(0, 10, 193);
  font-size: 25px;
}
.head2{
  display: flex;
  font-size: 1.1rem;
  font-weight: 900;
  align-items: center;
  margin-right:0.4rem ;


}
.head2_child{

  color: rgb(0, 10, 193);
  font-size: 1rem;
  font-weight: 700;
word-break: break-all;

}

.header_icon{
 margin-left: 1.2rem;
  margin-right: 5px;
  color: rgb(5, 5, 140);

}
.snake {
  font-size: 25px;
  margin-left: 0.5rem;
  margin-right: 5px;
  color: rgb(5, 5, 140);
}

.left-side-div {
  color: white;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }

  10% {
    transform: scale(1.06);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9));
  }

  20% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }

  30% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.7));
  }

  40% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }
}


.right-side-div {
  animation: heartbeat 0.7s infinite ease-in-out;
}

.content-sub-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 120px);
}

.ul-li-div {
  color: white;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 30px;
}

.ul-li {
  margin: 15px 0px 15px 0px;

  transition: 0.2s;

}

.ul-li:hover {

  color: rgb(34, 47, 63);
  transform: scale(1.1);
  cursor: pointer;


}

.strike-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.line {
  width: 90%;
}

.nav-bar {
  display: none;
  color: white;
  font-size: 30px;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.nav-bar-div {
  display: none;
  background-color: white;
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0px;
  color: rgba(44, 83, 131, 1);
  font-size: 20px;
  z-index: 999;
  transform: translateX(250px);
  transition: 0.5s;
  overflow: hidden;
}

.hide-nav-bar {
  overflow: auto;
}

.ul-li2 {
  margin: 10px;
}

.cut {
  position: absolute;
  right: 12px;
  margin-top: 12px;
  font-size: 25px;
}

.ul-li-div2 {
  list-style: none;
}

.show-nav-bar {
  transform: translateX(0px);
  overflow: hidden;
}

.userend {


  font-size: 20px;

}

.userenddiv {

  border-radius: 50%;
  border: 2px solid white;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 20px;
  top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.4s;
}

.userenddiv:hover {
  color: rgb(34, 47, 63);
  transform: scale(1.15);
  cursor: pointer;
  border-color: rgb(34, 47, 63);

}

.main-img {
  width: 250px;
  height: 150px;
  color: white;

}

.title_main_heading {

  font-size: 3.4rem;

}

.title_sub_heading {

  font-size: 1.6rem;
}

@media only screen and (max-width: 700px) {

  .head3{
flex-direction: column;
align-items: start;
  }
  .head2{

    margin-top: 0.4rem;
  }

.head{
  font-size: 1rem;
}
  .head2_child{
    font-size: 0.45rem;
  }

  .header_icon{
 margin-left: 0.1rem;
  margin-right: 0.3rem;
font-size: 0.45rem;

}

  .title_main_heading {

    font-size: 25px;
  }

  .title_sub_heading {

    font-size: 21px;
  }

  .main-img {
    width: 200px;
    height: 150px;
  }

  .userenddiv {

    display: none;
  }

  .content-sub-div {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .strike-line {
    display: none;
  }


  .ul-li-div {
    display: none;
  }

  .nav-bar-div {
    display: flex;
  }

  .nav-bar {
    display: block;
  }

  .show-nav-bar {
    display: flex;
  }
}




/* Global styles */
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.feature-item {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  padding: 0.5rem;
  border-radius: 9999px;
  /* Makes it fully rounded */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Specific color classes for the icons */
.icon-wrapper.green {
  background-color: #d1fae5;
  /* Tailwind's bg-green-100 */
}

.icon-wrapper.blue {
  background-color: #dbeafe;
  /* Tailwind's bg-blue-100 */
}

.icon-wrapper.purple {
  background-color: #ede9fe;
  /* Tailwind's bg-purple-100 */
}

/* Icon styles */
.icon {
  height: 1.5rem;
  /* Tailwind's h-6 */
  width: 1.5rem;
  /* Tailwind's w-6 */
}

/* Specific color classes for SVG icons */
.icon.green-icon {
  color: #16a34a;
  /* Tailwind's text-green-600 */
}

.icon.blue-icon {
  color: #2563eb;
  /* Tailwind's text-blue-600 */
}

.icon.purple-icon {
  color: #7c3aed;
  /* Tailwind's text-purple-600 */
}

/* Text styles */
.text {
  margin-left: 0.75rem;
  /* Tailwind's ml-3 */
  color: white;
  /* Tailwind's text-neutral-600 */

}











/* Navigation Menu */
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* Tailwind's space-y-2 */
  padding: 1rem;
  /* Tailwind's px-4 */
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  /* Tailwind's px-4 py-3 */
  color: #d1d5db;
  color: rgb(44, 83, 131);
  /* Tailwind's text-neutral-300 */
  border-radius: 0.5rem;
  /* Tailwind's rounded-lg */
  transition: all 0.3s ease;
  /* Tailwind's transition-all duration-300 */
}

.nav-item:hover {
  background-color: #374151;
  color: #d1d5db;
  /* Tailwind's hover:bg-neutral-700 */
}

.nav-item.active {
  background-color: #374151;
  color: #d1d5db;
  /* Same as hover for active state */
}

.nav-icon {
  height: 1.25rem;
  /* Tailwind's h-5 */
  width: 1.25rem;
  /* Tailwind's w-5 */
  margin-right: 0.75rem;
  /* Tailwind's mr-3 */
}