.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.notfound-error{

    color: #ca1414dd;
  
   
}

.notfound-code {
  font-size: 8rem;
  font-weight: bold;
  color: #e11d48;
  margin: 0;
}

.notfound-title {
  font-size: 28px;
  margin: 10px 0;
}

.notfound-text {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 20px;
}

.notfound-button {
  padding: 10px 20px;
  background-color: #2563eb;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.notfound-button:hover {
  background-color: #1e40af;
}
