.chat-enterdiv::-webkit-scrollbar {
  width: 5px; /* Vertical scrollbar width */
}

.chat-enterdiv::-webkit-scrollbar-thumb {
  background-color: #d2cfcf;
  border-radius: 10px;
}

.chat-enterdiv::-webkit-scrollbar-thumb:hover {
  background-color: #aeacac;
}
.chat-enter-maindiv::-webkit-scrollbar{

  display: none;
}

.users-div {
  
  height: 70px;
  width: 100%;
 
  display: flex;
  align-items: center;
 
  
}
.users-div:hover{

    background-color: rgb(234, 240, 242);
}
.img-user-chat{

    height: 40px;
    
}
.user-name{

    margin-left: 12px;
}
.img-chat-user-div{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    background-color: rgb(223, 218, 218);
    
}
.isend {
  width: 100%;
  
  
}

.rightit-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.recieved {
  display: flex;
  flex-direction: column;
  align-items: start;
  word-break: break-all;
  width: 50%;
}
.send-text-div {
  background-color: rgb(2, 200, 108);
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin: 5px;
  color: rgb(246, 233, 233);
  width: 60%;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 500;
  
  
}
.boxing.keyboard-open{
top:0;

}
.recieved-text-div {
    background-color: rgb(134, 149, 235);
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin: 5px;
  color: white;
  width: 60%;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
  
}

.chat-enter-maindiv {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.chat-enterdiv {
  padding-top: 65px;
  padding-bottom: 5px;
  box-sizing: border-box;
  width: 400px;
  height: calc(100% - 55px);
  background-color: rgb(249, 252, 253);
  position: relative;
  overflow-y: auto;
}

.boxing {
  position: fixed;
  top: 0;
  height: 65px;
  width: 400px;
  background-color: rgb(183, 0, 199);
  padding-left: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  font-weight: 700;
  user-select: none;
  z-index: 1000;
}
.inpchat-div {
  position: fixed;
  bottom: 0px;
  width: 400px;
  display: flex;
  align-items: center;
  height: 55px;

  background-color: rgb(249, 252, 253);
}
.inp-chat {
  width: 90%;
  height: 45px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 0px 4px 0.5px grey;
  padding-left: 10px;
  font-size: 15px;
  box-sizing: border-box;
  margin-left: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.send-div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send {
  font-size: 40px;
  color: rgb(45, 244, 45);
}

@media only screen and (max-width: 500px) {
  .chat-enterdiv {
    width: 100%;
  }
  .inpchat-div {
    width: 100%;
  }
  .boxing {
    width: 100%;
  }
}
