/* Container Styles */
.react-calendar {
    background-color: white;
    border: 1px solid #e5e7eb; /* Neutral 200 */
    border-radius: 0.75rem;
    font-family: Arial, sans-serif;
    padding: 1.5rem;
  }
  
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .react-calendar__navigation button {
    padding: 0.5rem 1rem;
    color: #2563eb; /* Blue 600 */
    background-color: #eff6ff; /* Blue 50 */
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
  
  .react-calendar__navigation button:hover {
    background-color: #dbeafe; 
  }
  
  .react-calendar__month-view__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 1rem;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b7280; /* Neutral 600 */
  }
  
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
  }
  
  .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #1f2937; /* Neutral 800 */
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
  }
  
  .react-calendar__tile:disabled {
    
    color: #b9bbc3; /* Neutral 400 */
    pointer-events: none;
    background-color: unset;
    
  }
  
  .react-calendar__tile--now {
    background-color: #eff6ff; /* Blue 50 */
    color: #2563eb; /* Blue 600 */
  }
  
  .react-calendar__tile--active {
    background-color: #2563eb; /* Blue 600 */
    color: white;
  }
  
  .react-calendar__tile:hover {
    background-color: #dbeafe; /* Blue 100 */
  }
  